<svg width="40" height="35" viewBox="0 0 85 74" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M63.7464 0H21.2464L0 36.8049L21.2464 73.6099H63.7464L85 36.8049L63.7464 0Z" fill="url(#ec-dropdown-grad)"/>
<defs>
<linearGradient id="ec-dropdown-grad" x1="77.0998" y1="70.7097" x2="16.0545" y2="4.37574" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFDD5C"/>
<stop offset="0.5" stop-color="#E09AFD"/>
<stop offset="1" stop-color="#5BE09F"/>
</linearGradient>
</defs>
</svg>
