<svg width="200" height="200" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M0 0L34.9925 6.99849L69.9849 0V69.9849L34.9925 62.9864L0 69.9849V0Z" fill="url(#ep-hero-grad)"/>
<defs>
<linearGradient id="ep-hero-grad" x1="63.4803" y1="67.2275" x2="5.34814" y2="12.5238" gradientUnits="userSpaceOnUse">
<stop stop-color="#FFDD5C"/>
<stop offset="0.5" stop-color="#E09AFD"/>
<stop offset="1" stop-color="#5BE09F"/>
</linearGradient>
</defs>
</svg>
