---
layout: base.njk
title: Gestão de Crises | 4E - Consultoria em Educação
showLoader: false
---

{% set pageData = pages['gestao-crises'] %}

<style>
  :root {
    --sp-color: var(--color-gestao-crises);
    --sp-color-light: rgba(252, 211, 77, 0.15);
  }
</style>

{% include "service-page.njk" %}
