---
layout: base.njk
title: Gestão Pública | 4E - Consultoria em Educação
showLoader: false
---

{% set pageData = pages['gestao-publica'] %}

<style>
  :root {
    --sp-color: var(--color-gestao-publica);
  }
</style>

{% include "service-page.njk" %}
